<div class="container">
    <div class="row">

        <div class="col-sm-10  col-md-10 col-md-offset-1">
            <h2> {{ tournament.name }}</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Red Team</th>
                        <th>Score</th>
                        <th>Blue Team</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
