<div class="container">
    <div class="row">

        <div class="col-sm-10  col-md-10 col-md-offset-1">
            <a ng-click="generateGroups()" class="btn btn-success">Generate Groups</a>
            <a ng-click="deleteGroups()" class="btn btn-danger">Delete Groups</a>
            <h2>{{ tournament.name }}</h2>
            <div ng-repeat="group in groups | orderBy:'id'" class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ group.name|uppercase }}</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Red Team</th>
                            <th>Score</th>
                            <th>Blue Team</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="match in group.matchs | orderBy:'id'">
                            <td><img src="/images/{{ match.red_team.image }}.png" width="30"/> {{ match.red_team.name }}</td>
                            <td ng-show="match.game">{{ match.game.red_score }} - {{ match.game.blue_score }}</td>
                            <td ng-hide="match.game">
                                <a ng-href="#/game?match={{ match.id }}" class="btn btn-success">Start Game</a>
                            </td>
                            <td>{{ match.blue_team.name }} <img src="/images/{{ match.blue_team.image }}.png" width="30"/></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th># Rank</th>
                            <th>Team</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teamPoints[group.id] | orderBy:'points'">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ team.name }}</td>
                            <td>{{ team.points }}</td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
